.halfScreen{
    float: left;
    width: 49.9%;
    height: 80vh;
    margin-top: -1.5%;
}
#productDetails{
    position: absolute;
    right: 0vw;
}
#imageContainer{
    overflow-y: hidden;
}
#productImage{
    height: 50vh;
    position: relative;
    top: 10vh;
}
#productDetails div{
    margin-top: 5vh;
}
#productName{
    font-size: 30pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
#sizeForm{
    height: 10vh;
    position: relative;
    bottom: 2vh;
    text-align: left;
}
#selectSize {
    position: relative;
    bottom: 2vh;
}
.productData{
    text-align: left;
    position: relative;
    left: 1vw;
}
#addToBagBtn{
    margin: 40px;
    background-color: rgb(41, 0, 0);
    color: white;
    height: 5vh;
    width: 40vw;
    font-size: 15pt;
    position: relative;
    right: 1vw;
}
#addToBagBtn:hover{
    background-color: rgb(59, 45, 45);
    color: white;
}
#quantityForm{
    width: fit-content;
    height: 8.25vh;
    position: relative;
    bottom: 5vh;
    left: 1vw;
    text-align: left;
}
.qty{
    position: relative;
    bottom: 10vh;
}
#alert{
    position: relative;
    bottom: 2.75vh;
}