#shopGrid{
    position: relative;
    left: 1vw;
    top: 1vh;
    margin-bottom: 5vh;
}
.product{
    width: 30vh;
    text-align: left;
    position: relative;
    left: 3vw;
    bottom: 3vh;
    /* border: 1px solid orange; */
}
.productCardImage{
    height: 30vh;
    width: 30vh;
}
.addBtn{
    position: relative;
    right: 0.4vw;
}