#checkoutFormContainer{
    width: 40%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
#stepper{
    position: absolute;
    top: 20%;
}
#next{
    position: absolute;
    bottom: 25%;
    right: 30%;
}
#back{
    position: absolute;
    bottom: 25%;
    left: 30%;
}
.orderForm{
    text-align: left;
    width: 70%;
    height: 32vh;
}
.formInput{
    margin: 15px;
}
.orderInput{
    margin: 5px;
    height: 29%;
    width: fit-content;
    display: inline-block;
}
#confirmationPage{
    margin-top: 7%;
    height: 47vh;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#placeOrderButton{
    margin-top: 5%;
}
#tableContainer{
    width: 95%;
    height: 53%;
    margin-left: 2.5%;
    overflow-y: scroll;
}
#confirmationTotal{
    margin-top: 10px;
    text-align: right;
}
#confirmationTotal, br{
    margin-left: 56%;
    width: 40%;
}
#userInfo{
    text-align: left;
    width: 94%;
    margin-left: 2.5%;
}
.userDetails{
    position: relative;
    bottom: 3vh;
    left: 5%;
    color: rgba(148, 0, 0, 0.725);
}
#shippingForm{
    position: relative;
    bottom: 4vh;
}
.editInfo{
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 3.75vh;
    left: 90%;
}
#thankYouMessage{
    position: relative;
    top: 5vh;
}
#thankYouCheckMark{
    scale: .6;
}