#checkoutFormContainer{
    width: 40%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
#stepper{
    position: absolute;
    top: 20%;
}
#next{
    position: absolute;
    bottom: 25%;
    right: 30%;
}
#back{
    position: absolute;
    bottom: 25%;
    left: 30%;
}
.orderForm{
    text-align: left;
    width: 70%;
    height: 32vh;
}
.formInput{
    margin: 15px;
}
.orderInput{
    margin: 5px;
    height: 29%;
    width: fit-content;
    display: inline-block;
}
#confirmationPage{
    margin-top: 7%;
    height: 47vh;
    width: 80%;
    overflow-y: scroll;
}
#placeOrderButton{
    position: relative;
    top:30%;
    left: 20%;
}
#tableContainer{
    width: 95%;
    height: 53%;
    margin-left: 2.5%;
    overflow-y: scroll;
}
#confirmationTotal{
    margin-top: 10px;
    text-align: right;
}
#confirmationTotal, br{
    float: right;
    width: 40%;
}
#userInfo{
    text-align: left;
}