#profileCard{
    text-align: left;
    height: 30vh;
    width: 15vw;
    position: absolute;
    top: 15vh;
    left: 1vw;
    background-color: antiquewhite;
}
.dataContainer{
    text-align: left;
    width: 40%;
    margin-bottom: 5vh;
    height: 35vh;
    position: relative;
    bottom: 50vh;
    left: 53vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.containerHeader{
    border-bottom: 1px solid black;
    position: relative;
    top: 1vh;
}
.containerTitle{
    position: relative;
    left: 1vw;
}
#itemsTable{
    position: absolute;
    top: 10%;
    left: 15%;
}
#favorites{
    width: 70%;
    height: 50vh;
    text-align: left;
    position: relative;
    top: 1vh;
    left: 3.5%;
    background-color: rgb(250, 235, 215);
}
#likedProductsGrid{
    height: 70%;
    width: 90%;
    position: relative;
    top: 22%;
    left: 10%;
    overflow: hidden;
}
.productName{
    text-align: left;
    position: relative;
    top: 3px;
    left: 5px;
}
 .likedProduct{
    text-align: center;
    width: 13vw;
    height: 110%;
    display: inline-block;
    position: relative;
    right: 21%;
    bottom: 18%;
}
.likedProductImage{
    height: 20vh;
    width: 20vh;
}

#img{
    position: relative;
} 
.back{
    position: absolute;
    top: 45%;
    left: 1%;
}
.next{
    position: absolute;
    top: 45%;
    right: 1%;
}