.infoDisplay{
    width:25%;
    height: 26vh;
    text-align: left;
    margin-left: 2%;
}
#billingInfo{
    position: relative;
    bottom: 26.25vh;
    left: 30%;
}
#orderProducts{
    position: relative;
    bottom: 20vh;
}
#itemTable{
    height: 30vh;
    margin-left: 2%;
    overflow-y: scroll;
}
#actionButtons{
    text-align: left;
    position: relative;
    bottom:1vh
}
#yesBtn{
    background-color: green;
    color: white;
    margin-right: 9%;
    margin-top: 3%;
}

#noBtn{
    background-color: red;
    color: white;
    margin-top: 3%;
}
#updateOrderForm{
    text-align: left;
    width: 70%;
    height: 105%;
    position: relative;
    bottom: 3%;
    right: 4%
}
#shippingForm{
    margin-top: 6%;
}