
.infoDisplay{
    width:25%;
    height: 26vh;
    text-align: left;
    margin-left: 2%;
}
#billingInfo{
    position: relative;
    bottom: 26.25vh;
    left: 30%;
}
#orderProducts{
    position: relative;
    bottom: 30vh;
}
#itemTable{
    height: 30vh;
    margin-left: 2%;
    overflow-y: scroll;
}
#actionButtons{
    text-align: left;
    position: relative;
    bottom:1vh
}
#yesBtn{
    background-color: green;
    color: white;
    margin-right: 9%;
    margin-top: 3%;
}

#noBtn{
    background-color: red;
    color: white;
    margin-top: 3%;
}
#updateOrderForm{
    scale: .95;
    text-align: left;
    width: 70%;
    height: 105%;
    position: relative;
    bottom: 7%;
    right: 4%
}
#shippingForm{
    margin-top: 6%;
}
#orderTotal{
    text-align: left;
    width: fit-content;
    position: relative;
    bottom: 52.5vh;
    left: 65%;
}
#orderBackBtn{
    position: absolute;
    left: 2%;
}
#updateErrors{
    text-align: left;
    width: 60%;
    position: absolute;
    right: 105%;
    top: 0%;
}