body{
    text-align: center;
}
#signupForm{
    text-align: left;
    display: inline-block;
    width: 40vh;
    border-radius:10%;
    background: rgb(230, 202, 169);
    height: 50vh;
    position: relative;
    top: 10vh;
}
.signupInput{
    background-color: rgb(234, 210, 199);
    position: relative;
    top: 8vh;
    left: 4.5vw;
}
#signupBtn{
    position: relative;
    top: 18vh;
    right: 20%;
}
#loginRoute{
    font-family:sans-serif;
    position: relative;
    top: 30%;
    left: 40%;
}
#businessName{
    font-family:cursive;
    text-align: center;
    position: relative;
    top: 5vh;
}
#signupAlert{
    position: absolute;
    left: 0%;
    width: 100%;
}