#homeCover{
    /* 
    width: 65vw;
    position: relative;
    right: 2vw; */
    border-radius: 10px;
    margin:1%;
    width: 90%;
}
#homeCoverBtn{
    scale: 1.8;
    position: relative;
    bottom: 65vh;
}
#homeCoverBg{
    width: 100%;
    background-color: rgba(71, 71, 71, 0.648);
}