#homeCover{
    border-radius: 8%;
    margin-top:2%;
    width: 65vw;
    position: relative;
    right: 2vw;
}
#homeCoverBtn{
    scale: 1.8;
    position: relative;
    bottom: 40vh;
    left: 1vw;
    color: rgb(246, 77, 105);
}
.shell{
    border: 1px solid black;
    height: 40vh;
    width: 60vw;
}
.backBtn{
    position: relative;
    top: 13vh;
    right: 28vw;
    height: 15vh;
}
.nextBtn{
    position: relative;
    bottom: 2vh;
    left: 28vw;
    height: 15vh;
}