body{
    text-align: center;
}
#loginForm{
    text-align: left;
    display: inline-block;
    width: 40vh;
    border-radius:10%;
    background: rgb(230, 202, 169);
    height: 45vh;
    position: relative;
    top: 10vh;
}
.loginInput{
    background-color: rgb(234, 210, 199);
    position: relative;
    top: 8vh;
    left: 4.5vw;
}
#loginBtn{
    position: relative;
    top: 18vh;
    right: 18%;
}
#signupRoute{
    font-family:sans-serif;
    position: relative;
    top: 35%;
    left: 38%;
}
#businessName{
    font-family:cursive;
    text-align: center;
    position: relative;
    top: 5vh;
}