.halfScreen{
    border:1px solid black;
    width: 49.9%;
    height: 100vh;
    position: absolute;
    top: 11.25vh;
}
#productDetails{
    position: absolute;
    right: 0vw;
    text-align: left;
}
#imageContainer{
    overflow-y: hidden;
}
#productImage{
    height: 50vh;
    position: relative;
    top: 10vh;
}
#productDetails div{
    margin-top: 5vh;
}
#productName{
    font-size: 30pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sizeForm{
    height: 10vh;
    position: relative;
    bottom: 2vh;
}
#selectSize {
    position: relative;
    bottom: 2vh;
}
.productData{
    margin-left: 1vw;
}