.shell{
    /* border: 1px solid black; */
    height: 40vh;
    width: 60vw;
}
.backBtn{
    position: relative;
    top: 13vh;
    right: 28.3vw;
    height: 15vh;
}
.nextBtn{
    position: relative;
    bottom: 32vh;
    left: 28.3vw;
    height: 15vh;
}
.productCard{
    text-align: left;
    width: 15.5vw;
    height: 30vh;
    position: relative;
    left: 4vw;
}
.productGrid{
    position: relative;
    left: 2vw;
    bottom: 7vh;
    scale: .95;
}
.containerName{
    text-align: left;
    text-decoration:dotted overline rgb(0, 0, 164);
}
.productImage{
    border: 1px solid black ;
    /* border-right: 1px solid black ; */
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    margin: 5px;
    position: relative;
    left: 2.5vw;
}