#quickLinksContianer{
    display: inline-block;
    position: relative;
    top: 1vh;
    right: 37vw;
}
#logoutBtn{
    position: relative;
    top: -0.75vh;
    z-index: 100;
    color: rgb(230, 203, 183);
}

#profileBtn{
    position: relative;
    top: -4vh;
    left: 8vw;
    z-index: 100;
    color: rgb(230, 203, 183);
}