#shopGrid{
    position: relative;
    left: 1vw;
    top: 1vh;
    margin-bottom: 5vh;
}
.productCardName{
    width: 20vw;
}
.product{
    /* border: 1px solid darkBlue; */
    width: 20vw;
    text-align: left;
    position: relative;
    left: 1vw;
}
.productCardImage{
    /* border: 1px solid orange; */
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 2.5vw;
}